* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: sans-serif;
  background: #7df1cf;
}

.board-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.square {
  display: block;
  width: 80px;
  height: 80px;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  padding: 1px;
  cursor: pointer;
  outline: none;
}

.board-row:nth-child(1) > div {
  border-bottom: 5px solid rgba(13, 161, 146, 0.5);
}

.board-row:nth-child(2) > div {
  border-top: 5px solid rgba(13, 161, 146, 0.5);
  border-bottom: 5px solid rgba(13, 161, 146, 0.5);
}

.board-row:nth-child(3) > div {
  border-top: 5px solid rgba(13, 161, 146, 0.5);
}

.board-row > div:nth-child(1) {
  border-right: 5px solid rgba(13, 161, 146, 0.5);
}

.board-row > div:nth-child(2) {
  border-right: 5px solid rgba(13, 161, 146, 0.5);
  border-left: 5px solid rgba(13, 161, 146, 0.5);
}

.board-row > div:nth-child(3) {
  border-left: 5px solid rgba(13, 161, 146, 0.5);
}

.playerX {
  color: rgb(84, 84, 84);
}

.playerO {
  color: rgb(242, 235, 211);
}

.game-status {
  width: auto;
  height: 32px;
  color: #f8f8f8;
  padding: 0 10px;
  transition: 0.3s all;
}

.title {
  transition: 0.3s all;
  text-align: center;
}

.app {
  text-align: center;
}

.command {
  display: block;
  width: 95px;
  height: 40px;
  font-size: 0.8em;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  outline: none;
}
